body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #121212;
  color: #e0e0e0;
}

svg {
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  padding: 1rem 0 1rem 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 4fr;
  grid-template-rows: 12px auto;
  gap: 10px;
  width: 100%;
  height: 100%;
  margin: 0;
}

#attributeDropdown {
  width: 100px;
}

.container .header {
  grid-column: span 1;
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}

.container .content {
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #1e1e1e;
  border-color: #444444;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.selected {
  opacity: 50%;
  fill: aqua !important;
}

#map-svg {
  flex-direction: column;
}

#selectedStates {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-transform: lowercase;
}

#attributeDropdown {
  background-color: #2c2c2c;
  color: #ffffff;
  border: 1px solid #444444;
}

#map {
  padding: 25px;
}

.lasso {
  fill-rule: evenodd;
  fill-opacity: 0.3;
  stroke-width: 1.5;
  fill: #444444;
  stroke: #ffffff;
}

#lines {
  padding: 20px;
}

svg {
  overflow: visible;
}
